* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Skip Link */

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  padding: 8px 16px;
  background-color: #000000;
  opacity: 0.9;
  color: rgb(241, 233, 233);
  text-decoration: none;
  border-bottom-right-radius: 12px;
  border: 1px double black;
  z-index: 100;
  font-weight: bold;
  font-style: italic;
}

.skip-link:focus {
  top: 0;
}

a , button {
  display: inline-block;
  vertical-align: middle;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #770000;
  text-transform: uppercase;
  font-size: 18px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}



/*
  Main Content
*/

.jumbotron {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/*
  restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  restaurant Item
*/

.restaurant__menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin: 32px 0;
}

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.restaurant-item .restaurant-item__city {
  position: absolute;
  top: 16px;
  left: 0;
  background-color: #fff;
  color: #333;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-end-end-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
  aspect-ratio: 16 / 12;
  object-fit: cover;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  color: #770000;
  text-decoration: none;
}

.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  restaurant
*/

.restaurant {
  margin: 0 auto;
  margin-top: -200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 90%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}


.restaurant__review {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant__review .review {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #cdcdcd;
  padding: 8px;
}

.restaurant__review .review__name {
  margin: 8px 0;
  font-weight: bold;
}


/*
  Footer
*/

footer {
  padding: 16px;
}


footer p {
  margin-top: 16px;

  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}

/* Form Review */

/* Form container styling */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input and textarea styling */
.form-input,
.form-textarea {
  min-height: 50px;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

/* Textarea specific styling */
.form-textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px;
}

/* Button styling */
.form-submit {
  padding: 0.75rem 1.5rem;
  background-color: #9a9ea2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #5a5b5c;
}

/* Add margin to separate the form from reviews */
.review-section {
  margin-top: 2rem;
}

/* Styling for review section title */
.review-section-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
}


/*
  favourite
*/

.favourite {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Button
*/

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #DB0000;
  border: 1px solid #770000;
  border-radius: 4px;
 
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
 
  cursor: pointer;
  transition: .15s ease-in-out;
}

.btn:hover {
  background-color: #DB0000BB;
}

.btn:active {
  background-color: #DB0000DD;
}

.btn:focus-visible {
  outline: 3px solid #DB000055;
}

/* Search input */

#restaurant-search-container {
  margin-bottom: 20px;
  text-align: center;
}

input #query {
  min-height: 44px;
  min-width: 44px;
}


#query {
  margin: 10px auto;
  width: 80%;
  max-width: 500px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

#query:focus {
  border-color: #770000;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
